body{
    background-color:pink;
    font-family: 'McLaren', cursive;
    font-size: 20px;
    max-width: 900px;
    margin:0 auto;
    
    }
    
    h1{color: black;
    }
    p{
        color: green; 
    }
    .orangeparagraph{
        color:orange;
    }
    
    @media screen and (max-width:700px){
        body{
            background:rgb(82, 32, 218);
        }
        p{
            font-size: 30px;
        }
    }