body.index{
   background-image: url('longnecker_printfileweb-28.jpg');
   margin;: 0;
   background-size:cover;
   background-repeat: no-repeat;
}
.box{
    width:450px;
    background: rgba(0,0,0,0.5);
    padding:40px;
    text-align:center;
    margin:auto;
    margin-top: 5%
    color: white;
    font-family: 'century gothic' , sans-serif;
}
.box-img{
    border-radius: 50%;
    width:200px;
    height: 200px;
}

.box h1 {
    font-size:40px;
    letter-spacing: 4px;
    font-weight:100;
}

p {
    text-align: justify;
    color: white; 
}
ul{
    margin:0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin:6px;
    list-style:none;
}
.box li a{
    color: rgb(15, 15, 15);
    text-decoration:none;
    font-size:50px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.things {
    margin: 0;
    padding: 0; 
    width: 100%;
}

.things li {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    width: calc(49% - 40px);
    height: 300px;
    display: inline-block;
}

.things .soccer {
    background-image: url('2232833_1_O.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.things .netflix {
    background-image: url('images (2).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.things .travel {
    background-image: url('Traveling.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.things .cooking {
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

}
    
@media screen and (max-width:700px){
    body{
        background:rgb(82, 32, 218);
    }
    p{
        font-size: 30px;
    }
}