body{
    margin:0;
    padding:0;
    background: url('longnecker_printfileweb-28.jpg');
    background-size:cover;
}

.box{
    width:450px;
    background: rgba(0,0,0,0.5);
    padding:40px;
    text-align:center;
    margin:auto;
    margin-top: 5%;
    color: white;
    
}
.box-img{
    border-radius: 50%;
    width:200px;
    height: 200px;
}

.box h1 {
    font-size:40px;
    letter-spacing: 4px;
    font-weight:100;
}

p {
    text-align: justify;
    color: white; 
}
ul{
    margin:0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin:6px;
    list-style:none;
}
.box li a{
    color: yellow (15, 15, 15);
    text-decoration:none;
    font-size: 40px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.post{
  background-color: black ;
  font-size: 14px;
  font-color: white
}
#wrapper{ 
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}
#header{
    
    height:80px;
    widows: 100%;
    margin:10px;
}
.post{
    
    padding : 5px;
    border: 1px solid # cccccc;
    margin-bottom:5px;
}
.about p{
    color: brown;
}


}
.things {
    margin: 0;
    padding: 0; 
    width: 100%;
}

.things li {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    width: calc(49% - 40px);
    height: 300px;
    display: inline-block;
}

.things .soccer {
    background-image: url('2232833_1_O.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.things .netflix {
    background-image: url('images (2).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.things .travel {
    background-image: url('Traveling.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.things .cooking {
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

}
    
@media screen and (max-width:700px){
    body{
        background:rgb(82, 32, 218);
    }
    p{
        font-size: 30px;
    }
}